 
:root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color:  #242424;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 750px;
  max-height: 700px;
}

@media screen and (max-width: 767px) {

  img {
    max-width: 400px;
    max-height: 350px;
  }

}


